* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

img {
    max-width: 60%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

h1, h2, h3 {
    font-weight: bold;
}

h2 {
    text-transform: uppercase;
}

/* Header Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5e6cc; /* Beige Hintergrund für das Menü */
    padding: 15px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: white;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #c29445;
}