* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
  /*  background-color: #f4f4f4;*/
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

h1, h2, h3 {
    font-weight: bold;
}

h2 {
    text-transform: uppercase;
}

/* Header Styling */
.navbar {
    justify-content: space-between;
    align-items: center;
    background-color: #f5e6cc; /* Beige Hintergrund für das Menü */
    padding: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: white;
}

.nav-links {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #c29445;
}

/* Buttons */
.btn {
    display: inline-block;
    background-color: #c29445;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s ease;
    text-align: center;
    margin-top: 10px;
}

.btn:hover {
    background-color: #a37936;
}

/* Footer */
.footer {
    background-color: #c29445;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer a {
    color: white;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: white;
}