/* Erfahrungsseite */
.experience-page {
    padding: 70px 20px;
    text-align: center;
    background: white;
}

/* Formular */
.experience-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 40px;
}

.experience-form label {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    font-weight: bold;
    font-size: 16px;
}

.experience-form input, 
.experience-form textarea {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.experience-form textarea {
    resize: none;
}

.btn {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #444;
}

/* Community-Bereich */
.community-section {
    position: relative;
    text-align: center;
    color: white;
}

.community-section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.community-section .overlay {
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Abdunkelung */
    z-index: 0;
}

.community-section h2, .community-section p, .community-section .btn {
    position: relative;
    z-index: 1;
}

.community-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.community-section p {
    font-size: 16px;
    margin-bottom: 20px;
}

.community-section .btn {
    background-color: white;
    color: black;
}

.community-section .btn:hover {
    background-color: #ddd;
}

/* responsive */
@media (max-width: 768px) {
    .experience-form {
        width: 90%;
    }
}